@use 'variables'
@use 'mixins'

/* Minimal CSS Reset */
html 
  box-sizing: border-box
  font-size: 16px

*, *:before, *:after 
  box-sizing: inherit

*
  font-family: variables.$font-body

  
body, h1, h2, h3, h4, h5, h6, p, ol, ul 
  margin: 0
  padding: 0
  font-weight: normal

ol, ul 
  list-style: none

img 
  height: auto

button 
  border: none    
  background: none
/* ------------------ */  


body
  width: 100vw
  height: 100vh    
  font-size: 20px
  background: variables.$color-linear-body

.header
  display: flex
  margin: 0 30px
  justify-content: space-between
  align-items: center
  padding: 1.5rem

  &__btn__img
    order: 0
    height: 30px
    width: 30px
    color: #000
    transition-duration: 500ms
    

  &__logo
    order: 1
    display: flex
    flex-direction: column
    width: 80px
    height: 80px
    background: #FFF
    border-radius: 10px
    box-shadow: -12px 12px 4px rgba(0, 0, 0, 0.25)
    
    &__img
      position: absolute
      height: 100px  
      width: 100px
      align-self: center
      
     
.header
  
  &__nav__container  
    display: none 
    flex-flow: column wrap
    align-items: center
    position: absolute
    left: -58px
    top: 118px
    width: 300px
    height: 300px
    background: variables.$color-secundary
    opacity: 0.80
    border-radius: 214px 214.5px 214px 214px 


    &__ul
      margin: auto auto auto 4em 
      line-height: 3em

      &__item

        &__a
          text-decoration: none
          font-weight: 700
          color: variables.$font-body-primary

  &__btn
  
    &--hamburger
      margin: 0
      padding: 0
      width: 50px 
      height: 50px

.display-photos
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-items: center

  &::before
    display: flex
    flex-flow: column wrap
    position: absolute
    width: 100%
    height: 451px
    left: -2px
    top: 117px
    z-index: -1
    background-image: url("../assets/img/body-bg.svg")
    background-repeat: no-repeat
    content: ""


  &__btn
   margin: 50px auto
   width: 200px
   height: 50px
   font-size: 21px
   font-weight: 700
   color: variables.$font-btn-primary
   background: variables.$color-primary-btn
   box-shadow: (-5px 18px 4px rgba(0, 0, 0, 0.5))
   border-radius: 83px
   transition-timing-function: ease
   transition-duration: 2s
   
  &__container
   display: flex 
   width: 287px
   height: 226px
   background: variables.$color-secundary
   box-shadow: (-12px 15px 4px rgba(0, 0, 0, 0.8))
   border-radius: 27px 
   transition-timing-function: ease-out
   transition-duration: 2s

.display-photos__btn:hover
  background: variables.$color-hover-btn   
  color: variables.$font-btn-secundary 
  transition-duration: 500ms

.display-photos__btn:active
  background: variables.$color-active-btn
  color: variables.$font-btn-secundary
  transform: scale(1.1)
  box-shadow: (-1px 12px 23px #00FFC6)
  transition-duration: 80ms

.display-photos__container img
    width: 80%
    height: 80%
    margin: 20px auto
    border-radius: 8px

.visible-nav
  display: flex 

.footer
  position: absolute
  width: 283px
  height: 29px
  left: 46px
  top: 649px
  color: white
  font-size: 21px
  font-weight: 700
  letter-spacing: 3px
  text-align: center

  a
    text-decoration: none
    color: variables.$color-hover-btn


@include mixins.tablet

  body
    border: 1px solid tomato

  .display-photos

    &__container
      width: 70%
      min-height: 320px
      max-height: 1920px

      & img
        width: 90%
        height: 90%

  .footer
    bottom: 0
    height: auto
    top: auto
    margin: 5px auto
    width: 90%
    
    & a
      color: variables.$font-btn-secundary
      font-size: 1.15em
      font-weigth: bold
    
    
@include mixins.desktop

  body
    border: 1px solid red 

  .header 
    display: flex
    justify-content: right

    &__logo

    &__nav__container
      display: flex
      flex-direction: row
      width: 70%
      height: 10px
      position: absolute
      left: 50px
      top: 45px
      background: none
      border-radius: 0

      &__ul
        display: flex
        align-items: flex-start

        &__item
          padding: 10px
          &:nth-child(-n+3)
            margin-right: 5px
            
          &__a
            font-weight: 700  

            &:hover
              color: variables.$color-hover-btn
              font-size: 1.05em

            &:active
              color: variables.$color-active-btn
              text-shadow:  (-1px 12px 23px #00FFC6)
                

    &__btn__img
      display: none
    
  .display-photos  
    height: 70%

    &__btn 
      order: 1
      cursor: pointer
      margin: 30px auto 0 auto

    &::before
      position: absolute
      width: 100%
      height: 80%
      z-index: -1
      background-position: top
      background-size: cover
        

    &__container
      width: 50%
      height: 80%

      & img
        width: 90%
        height: 90%

  .footer
    bottom: 0
    height: auto
    top: auto
    margin: 5px auto
    width: 95%
    
    & a
      color: variables.$font-btn-secundary
      font-size: 1.15em
      font-weigth: bold



    