@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Colors*/
/* width devices */
/* https://davidwalsh.name/write-media-queries-sass */
/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
}

button {
  border: none;
  background: none;
}

/* ------------------ */  
body {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  background: linear-gradient(163.03deg, rgba(0, 0, 0, 0.96) 0.8%, #593924 13.99%, rgba(156, 121, 99, 0.94) 39.36%, rgba(150, 111, 86, 0.67155) 79.44%, #895737 82.99%, #000000 98.03%);
}

.header {
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.header__btn__img {
  order: 0;
  height: 30px;
  width: 30px;
  color: #000;
  transition-duration: 500ms;
}
.header__logo {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: -12px 12px 4px rgba(0, 0, 0, 0.25);
}
.header__logo__img {
  position: absolute;
  height: 100px;
  width: 100px;
  align-self: center;
}

.header__nav__container {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  position: absolute;
  left: -58px;
  top: 118px;
  width: 300px;
  height: 300px;
  background: #DAB49D;
  opacity: 0.8;
  border-radius: 214px 214.5px 214px 214px;
}
.header__nav__container__ul {
  margin: auto auto auto 4em;
  line-height: 3em;
}
.header__nav__container__ul__item__a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}
.header__btn--hamburger {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
}

.display-photos {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
}
.display-photos::before {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  width: 100%;
  height: 451px;
  left: -2px;
  top: 117px;
  z-index: -1;
  background-image: url("../assets/img/body-bg.svg");
  background-repeat: no-repeat;
  content: "";
}
.display-photos__btn {
  margin: 50px auto;
  width: 200px;
  height: 50px;
  font-size: 21px;
  font-weight: 700;
  color: #0E185F;
  background: #25A3B3;
  box-shadow: -5px 18px 4px rgba(0, 0, 0, 0.5);
  border-radius: 83px;
  transition-timing-function: ease;
  transition-duration: 2s;
}
.display-photos__container {
  display: flex;
  width: 287px;
  height: 226px;
  background: #DAB49D;
  box-shadow: -12px 15px 4px rgba(0, 0, 0, 0.8);
  border-radius: 27px;
  transition-timing-function: ease-out;
  transition-duration: 2s;
}

.display-photos__btn:hover {
  background: #14D5AC;
  color: #244566;
  transition-duration: 500ms;
}

.display-photos__btn:active {
  background: #A3FFFF;
  color: #244566;
  transform: scale(1.1);
  box-shadow: -1px 12px 23px #00FFC6;
  transition-duration: 80ms;
}

.display-photos__container img {
  width: 80%;
  height: 80%;
  margin: 20px auto;
  border-radius: 8px;
}

.visible-nav {
  display: flex;
}

.footer {
  position: absolute;
  width: 283px;
  height: 29px;
  left: 46px;
  top: 649px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #14D5AC;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    border: 1px solid tomato;
  }
  .display-photos__container {
    width: 70%;
    min-height: 320px;
    max-height: 1920px;
  }
  .display-photos__container img {
    width: 90%;
    height: 90%;
  }
  .footer {
    bottom: 0;
    height: auto;
    top: auto;
    margin: 5px auto;
    width: 90%;
  }
  .footer a {
    color: #244566;
    font-size: 1.15em;
    font-weigth: bold;
  }
}
@media (min-width: 1024px) {
  body {
    border: 1px solid red;
  }
  .header {
    display: flex;
    justify-content: right;
  }
  .header__nav__container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 10px;
    position: absolute;
    left: 50px;
    top: 45px;
    background: none;
    border-radius: 0;
  }
  .header__nav__container__ul {
    display: flex;
    align-items: flex-start;
  }
  .header__nav__container__ul__item {
    padding: 10px;
  }
  .header__nav__container__ul__item:nth-child(-n+3) {
    margin-right: 5px;
  }
  .header__nav__container__ul__item__a {
    font-weight: 700;
  }
  .header__nav__container__ul__item__a:hover {
    color: #14D5AC;
    font-size: 1.05em;
  }
  .header__nav__container__ul__item__a:active {
    color: #A3FFFF;
    text-shadow: -1px 12px 23px #00FFC6;
  }
  .header__btn__img {
    display: none;
  }
  .display-photos {
    height: 70%;
  }
  .display-photos__btn {
    order: 1;
    cursor: pointer;
    margin: 30px auto 0 auto;
  }
  .display-photos::before {
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
    background-position: top;
    background-size: cover;
  }
  .display-photos__container {
    width: 50%;
    height: 80%;
  }
  .display-photos__container img {
    width: 90%;
    height: 90%;
  }
  .footer {
    bottom: 0;
    height: auto;
    top: auto;
    margin: 5px auto;
    width: 95%;
  }
  .footer a {
    color: #244566;
    font-size: 1.15em;
    font-weigth: bold;
  }
}

/*# sourceMappingURL=style.css.map */
